
{
  "plugins": [
    "react-html-attrs",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ],
  "presets": [
    ["es2015",
      {
        "modules": false,
        "loose": true,
      }
    ],
    "react",
    "stage-0"
  ]
}
