// Plugins run before Presets.
// Plugin ordering is first to last.
// Preset ordering is reversed (last to first).
{
  "plugins": [
    /* "./babel/constelation", */
    "constelation-babel",

    /* ["emotion/babel", { "inline": true }], */
    "emotion/babel",

    // able to use `class` instead of `className` and `for` instead of `htmlFor`
    "react-html-attrs",

    // handle decorators
    "transform-decorators-legacy",

    // handle do expressions (currently stage-0)
    /* "transform-do-expressions", */
  ],
  "presets": [
    ["es2015",
      {
        // enable _native_ modules for tree shaking
        "modules": false,
        "loose": true,
      }
    ],
    "react",

    // class properties and beyond
    "stage-2"
  ],
  "env": {
    "development": {
      "plugins": [
        // needed for hot loader
        "react-hot-loader/babel",

        // adds file and line # to components
        // helpful for error stack traces
        "transform-react-jsx-source",
      ]
    },
    "production": {
      "plugins": [
        // Hoists element creation to the top level for subtrees that are fully static
        "transform-react-constant-elements",

        // replaces react.createElement with inline if no ref or obj spread
        "transform-react-inline-elements",
      ]
    }
  }
}
